<header role="banner">
  <!-- Header Start -->
  <div
    style="
      display: flex;
      align-items: center;
      justify-content: center;
      background: linear-gradient(50deg, #6372ff 20%, #ff9800 100%) !important;
      background-blend-mode: multiply;
      padding: 2em 1em;
      max-width: 100%;
      margin-bottom: 2em;
    "
  >
    <img
      src="assets/me.jpeg"
      alt="{{site.author}}"
      style="
        width: 160px;
        height: 160px;
        object-fit: cover;
        border-radius: 50%;
        border: 4px solid #fff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.09);
        margin-left: 30%;
        margin-right: 2em;
      "
    />

    <div style="flex: 1">
      <h1 style="margin: 0 0 0.3em 0; font-size: 2.5em">
        {{ site.author | escape }}
      </h1>
      <p style="margin: 0.4em 0">
        {{ site.city }}, {{ site.state }} - {{ site.country}}
      </p>
      <p style="margin: 0.4em 0">
        Applied Mathematician, Masters in Electrical Eng.
      </p>
      <p style="margin: 0.4em 0">
        <a style="color: #000" href="mailto:{{site.email}}">{{site.email}}</a>
      </p>
      {% include social.html %}
    </div>
  </div>
  <!-- Header End -->
</header>
