<header role="banner">
  <!-- Header Start -->

  <div class="header-hero">
    <div class="header-overlay">
      <h1 style="margin: 0 0 0.3em 0; font-size: 2.5em">
        {{ site.author | escape }}
      </h1>
      <p style="margin: 0.4em 0">
        {{ site.city }}, {{ site.state }} - {{ site.country}}
      </p>
      <p style="margin: 0.4em 0">
        Applied Mathematician, Masters in Electrical Eng.
      </p>
      <p style="margin: 0.4em 0">
        <a style="color: #000" href="mailto:{{site.email}}">{{site.email}}</a>
      </p>
      {% include social.html %}
    </div>
  </div>
  <!-- Header End -->
</header>
