.wrapper {
  width: 80vw !important;
  max-width: 1100px !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.home {
  width: 100vw !important;
  max-width: 100vw !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.svg-icon {
  width: 32px;
  height: 32px;
  fill: #000; /* set to your desired color */
  transition: fill 0.2s;
  vertical-align: middle;
}

.svg-icon:hover {
  fill: #fff; /* example: change color on hover */
}

.site-footer {
  margin-top: 20px !important;
  background: linear-gradient(50deg, #6372ff 20%, #ff9800 100%) !important;
  padding: 20px 20px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: center !important;
  color: #fff !important;
}

.footer-text {
  display: flex;
  justify-content: center;
  paddint-bottom: 10px;
  color: #fff;
}

.social-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  transform: translateY(2px);
}

p {
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}
